body{
  background-color: rgb(37,56,73);
}

.logo{
  width: 80px;
  cursor: pointer;
  border-radius: 100%;
}

.cd-container {
  cursor: pointer;
}

.image-disc{
  width: 80%;
  min-height: 250px;
}
  
h6{
  color: white;
}
  
p{
  color: rgb(182, 182, 182);
}